@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo-social.eot'); /* IE9 Compat Modes */
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/entypo-social.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/entypo-social.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/entypo-social.svg#svgEntypo') format('svg'); /* Legacy iOS */
}

div.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* -- Sidebar -- */
nav {
  position: fixed;
}

#logo {
  font-family: "PT Serif", serif;
  font-weight: bold;
  text-decoration: none;
}

nav ul li {
  display: block;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active {
  font-size: 1.4rem;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

/* -- Frontpage -- */
ul.frontpage {
  list-style: none;
}

ul.frontpage li {
  margin-bottom: 36px;
}

/* -- Entypo -- */
.entypo-container {
  line-height: normal;
}

.entypo-icon {
  font-family: 'Entypo';
  font-size: 96px;
  text-decoration: none;
}

/* -- Links -- */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #E53D32; }
p a, p a:visited { line-height: inherit; }
