@font-face {
  font-family: 'Entypo';
  src: url('../fonts/entypo-social.eot'); /* IE9 Compat Modes */
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/entypo-social.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/entypo-social.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/entypo-social.svg#svgEntypo') format('svg'); /* Legacy iOS */
}

/* -- Container element stuff -- */
html, body {
  height: 100%;
}

body {
  font-size: 1.8em;
  font-family: "EB Garamond", serif;
}

div.container {
  padding-top: 6rem;
  min-height: 100%;
}

/* -- Code -- */

code {
  font-size: 75%;
  line-height: 135%;
}

/* -- Sidebar -- */
#logo {
  font-family: "EB Garamond", serif;
  text-decoration: none;
}

nav ul li {
  display: block;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active {
  font-size: 2rem;
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

/* -- Frontpage -- */
ul.frontpage {
  list-style: none;
}

ul.frontpage li {
  margin-bottom: 3.6rem;
}

/* -- Entypo -- */
.footer-links {
  line-height: normal;
  text-align: center;
}

.entypo-icon {
  font-family: 'Entypo';
  font-size: 9.6rem;
  text-decoration: none;
}

/* -- Links -- */
a { color: #333; text-decoration: underline; outline: 0; }
a:visited { color: #919191; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #3C5693; }
p a, p a:visited { line-height: inherit; }

hr {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
}
