<header>
  <h1>about</h1>
</header>
<img class="scale-with-grid" src="@routes.Assets.at("images/me.jpg")"/>
<p>Hello! I'm <a href="https://www.linkedin.com/in/longcao">Long Cao</a>, a 25 year old software developer currently based in NYC at Gawker Media. I'm from Houston, have lived and worked in Austin, and am a graduate of The University of Texas at Austin.</p>
<h5>A few things I work with or am interested in:</h5>
<ul>
  <li>Scala</li>
  <li>Play Framework</li>
  <li>Natural language processing & machine learning</li>
  <li><a href="http://sotohp.tumblr.com/">Photography</a></li>
  <li>Coffee</li>
</ul>
<br />
<h4>longcao.org is built with:</h4>
<ul>
  <li><a href="http://www.playframework.com/">Play Framework 2.2.1</a></li>
  <li><a href="http://www.getskeleton.com/">Skeleton</a></li>
  <li><a href="http://www.digitalocean.com/">DigitalOcean</a></li>
  <li><a href="https://bitbucket.org">Bitbucket</a></li>
</ul>
