<header>
  <h1>about</h1>
</header>

<img src="@routes.Assets.at("images/me.jpg")" />

<p>Hello! I'm Long Cao, a 26 year old software engineer currently based in NYC. I'm from Houston, have lived and worked in Austin, and am a graduate of The University of Texas at Austin.</p>
<h4>A few things I work with, am interested in, or trying to learn:</h4>
<ul>
  <li>Scala, Clojure</li>
  <li><a href="https://github.com/longcao/requests">Requests for Scala</a></li>
  <li>Play Framework</li>
  <li>Functional programming</li>
  <li>Natural language processing & machine learning</li>
  <li><a href="http://sotohp.tumblr.com/">Photography</a></li>
  <li>Coffee</li>
  <li>Sports - college football, soccer</li>
</ul>
<br />
<h4>longcao.org is built with:</h4>
<ul>
  <li><a href="https://www.playframework.com/">Play Framework 2.3.x</a></li>
  <li><a href="http://www.getskeleton.com/">Skeleton</a></li>
  <li><a href="https://github.com/progrium/dokku">Dokku</a></li>
  <li><a href="https://www.digitalocean.com/">DigitalOcean</a></li>
</ul>
