<header>
  <h2>New post</h2>
</header>

<input type="text" placeholder="Title" id="title">
<label for="published">
  <input type="checkbox" id="published" value="true">
  <span>Published</span>
<label>
<br />
<div id="epiceditor"></div>
<br />
<button id="submitPost" type="submit">Submit</button>

<script src="@routes.Assets.at("javascripts/epiceditor.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
<script>
  var options = {
    basePath: '',
    theme: {
      base: '@routes.Assets.at("stylesheets/epiceditor/base/epiceditor.css")',
      preview: '@routes.Assets.at("stylesheets/epiceditor/preview/github.css")',
      editor: '@routes.Assets.at("stylesheets/epiceditor/editor/epic-dark.css")'
    },
    autogrow: true,
    autogrow: {
      minHeight: 400
    }
  }
  var editor = new EpicEditor(options).load();

  $('#submitPost').click(function(event) {
    event.preventDefault();
    var data = {
      title: $('#title').val(),
      content: editor.exportFile(null, 'html'),
      published: $('#published').is(':checked')
    };

    $.ajax({
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      url: '/save',
      data: JSON.stringify(data)
    });

  });
</script>
