<header>
  <h2>New post</h2>
</header>

<input type="text" placeholder="Title" id="title">
<label for="published">
  <input type="checkbox" id="published" value="true" checked>
  <span>Published</span>
<label>
<br />
<div id="epiceditor"></div>
<br />
<button id="submitPost" type="submit">Submit</button>

<script src="@routes.Assets.at("javascripts/lib/epiceditor.min.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/jquery-2.1.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/editor.js")"></script>
