<!DOCTYPE html>
<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>longcao.org</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/skeleton.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/layout.css")">
</head>
<body>
  <div class="container">
    <div class="sixteen columns">
      <h1 class="remove-bottom" style="margin-top: 40px">zen garden</h1>
      <br>
    </div>
    <div class="sixteen columns offset-by-one">
      <p>this</p>
    </div>
    <div class="sixteen columns offset-by-three">
      <p>is</p>
    </div>
    <div class="sixteen columns offset-by-two">
      <p>how</p>
    </div>
    <div class="sixteen columns offset-by-three">
      <p>it</p>
    </div>
    <div class="sixteen columns offset-by-one">
      <p>begins</p>
    </div>
  </div>
</body>
</html>
