@(content: Html)

<!DOCTYPE html>
  @head()
  <body>
    <div class="container">
      @sidebar()
      <div class="nine columns offset-by-three column">
        @content
      </div>
    </div>
    <hr>
    <footer class="footer-links">
      <a href="https://twitter.com/oacgnol" class="entypo-icon">&#62218;</a>
      <a href="https://www.linkedin.com/in/longcao" class="entypo-icon">&#62233;</a>
      <a href="https://github.com/longcao" class="entypo-icon">&#62209;</a>
    </footer>
  </body>
</html>
