@(content: Html, title: Option[String] = None)

<!DOCTYPE html>
  @head(title.getOrElse("longcao.org"))
  <body>
    <div class="container">
      <div class="row">
        @sidebar()
        <div class="nine columns">
          @content
        </div>
      </div>
    </div>
    <hr>
    <footer class="footer-links">
      <a href="https://twitter.com/oacgnol" class="entypo-icon">&#62218;</a>
      <a href="https://www.linkedin.com/in/longcao" class="entypo-icon">&#62233;</a>
      <a href="https://github.com/longcao" class="entypo-icon">&#62209;</a>
    </footer>
  </body>
</html>
